<%= render "layouts/main-nav" %>

<div class="container py-5 dash-view mt-4 mb-5">
  <%= render 'layouts/notice' %>

  <div class="row border-bottom mb-5">
    <div class="col-lg-9">
      <div class="d-flex">
        <h3 class="font-weight-bold py-4 text-green">
          <%= link_to @profile.teacher.name, {}, class: 'text-green' %>
        </h3>
        <%= link_to "Send message", teachers_path, class: 'my-4 btn ml-4 bg-light border text-green'%>
      </div>
      <% if current_teacher %>
        <div class="mb-3">
          <%= link_to 'Edit profile', edit_profile_path(@profile), class: "btn bg-green-btn text-white py-2 px-4 shadow" %>
          <%= link_to '<i class="fas fa-trash mr-2"></i>Delete profile'.html_safe, @profile, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger btn ml-3', style: "font-size: 1em" %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-3">
    </div>
  </div>

  <div class="row text-muted border-bottom pb-3 mb-5">
    <div class="col-lg-6 col-md-6">
      <p>
        <small class="text-label">Address:</small><br>
        <small><%= @profile.teacher.direction.landmark %></small>
      </p>
    </div>
    <div class="col-lg-3 col-md-4">
      <p>
        <small class="text-label">Classes:</small><br>
        <small><%= @profile.teacher.grade %></small>
      </p>
    </div>
    <div class="col-lg-3 col-md-4">
      <p>
        <small class="text-label">Subject:</small><br>
        <small><%= @profile.teacher.subject %></small>
      </p>
    </div>
    <div class="col-lg-3 col-md-4">
      <p>
        <small class="text-label">Fees:</small><br>
        <small>
          UGX. <%= @profile.fee %>
          <%= @profile.per_charge %>
        </small>
      </p>
    </div>
    <div class="col-lg-3 col-md-4">
      <p>
        <small class="text-label">Teaching Experience:</small><br>
        <small><%= @profile.experience %> years</small>
      </p>
    </div>
    <div class="col-lg-3 col-md-4">
      <p>
        <small class="text-label">Commitment:</small><br>
        <small><%= @profile.commitment %></small>
      </p>
    </div>
    <div class="col-lg-3 col-md-4">
      <p>
        <small class="text-label">Phone:</small><br>
        <% if current_child || current_teacher %>
          <small><%= @profile.teacher.phone %></small>
        <% else %>
          <small><%= link_to "Sign in to view phone", new_child_session_path %></small>
        <% end %>
      </p>
    </div>
  </div>

  <p class="mt-3 text-muted">
    Profile Description:</br>
    <div class="bg-light p-4 rounded text-muted">
      <%= @profile.description %>
    </div>
  </p>

  <% if current_teacher %>
  <%= link_to 'Update profile', edit_profile_path(@profile), class: "btn bg-green-btn text-white shadow px-5 py-3 mt-3 mr-5" %>
  <% end %>
  <%= link_to 'See other profiles<i class="fas fa-arrow-right ml-2"></i>'.html_safe, profiles_path, class: "btn py-3 mt-3 text-green", style: "font-size: 1em" %>
</div>
