<p id="notice"><%= notice %></p>

<p>
  <strong>Per charge:</strong>
  <%= @profile.per_charge %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @profile.fee %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @profile.experience %>
</p>

<p>
  <strong>Commitment:</strong>
  <%= @profile.commitment %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
