<%= render 'layouts/main-nav' %>

<div class="container py-5">
  <div class="row mt-5">
    <div class="col-lg-6 mx-auto">
      <%= form_for [@teacher, @direction], data: { controller: "places", action: "google-maps-callback@window->places#initMap", places_latitude: @direction.latitude, places_longitude: @direction.longitude } do |form| %>

        <div class="field">
          <%= form.search_field :landmark, placeholder: "Enter Nearest landmark near your home", class: "form-control py-4", data: { target: "places.field", action: "keydown->places#keydown" } %>
        </div>

        <%= form.hidden_field :latitude, data: { target: "places.latitude" } %>
        <%= form.hidden_field :longitude, data: { target: "places.longitude" } %>

        <div id="map" data-target="places.map" style="height: 300px; width: 100%;" class="my-4">
        </div>

        <div class="actions mt-3">
          <%= form.submit "Save Address", class: "btn btn-info px-5 py-3 very-rounded" %>
        </div>
      <% end %>
    </div>
  </div>
</div>