<%= render 'layouts/main-nav' %>

<div class="">
  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/notice2' %>
      
      <div class="col-md-4 col-lg-6 child-intro-img">
      </div>
      <div class="col-md-8 col-lg-6 intro" id="teacher-intro">
        <h1 class="text-heading">
          We stand for the <span class="orange-link">Children</span> at home
        </h1>
        <p class="intro-desc text-muted">
          Children are grouped in a study group 
          with a qualified teacher they will adore
        </p>
        <div class="lft-it">
          <%= link_to 'Register your Child', new_child_path, class: "btn bg-green-btn text-white shadow px-5 py-3" %>
          <%= link_to 'Child Login<i class="fas fa-arrow-right ml-2 text-info"></i>'.html_safe, new_child_session_path, class: "ml-5 text-info", id: "login-btn" %>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container py-5">
    <h1 class="my-5 text-center text-label">We offer the perfect solution <br>to your child's education.</h1>
    <p class="text-muted text-center mb-5">Choose a program that will suit your child's needs</p>

    <div class="row">
      <div class="col-lg-5 ml-auto">
        <div class="p-5 bg-red text-white mb-5">
          <h3 class="font-weight-bold">Full Time Classes</h3>
          <p class="mt-4" style="line-height: 1.85;">
            Full-time enrollment is used to replace your 
            child's current education. It is an in-person 3 
            hours per day program from Monday to Friday. <br>It includes 
            an in-person teacher who will bring the curriculum 
            and supplies needed to run the classroom.
          </p>
          <%= link_to 'Enroll for Ugx. 50,000/month', new_child_path, class: "btn bg-green-btn bg-white orange-link px-5 py-3 mt-4" %>
        </div>
      </div>
      <div class="col-lg-5 mr-auto">
        <div class="border bg-light p-5 mb-5">
          <h3 class="font-weight-bold text-green">Extra Classes</h3>
          <p class="text-muted mt-4" style="line-height: 1.85;">
            Designed to supplement your child's current education 
            to fill the gap left by online and hybrid learning. 
            <br>It takes place in-person, 
            2 days a week on Monday and Thursday for 3 hours a day and 
            can attempt any topic or class that you would like.
          </p>
          <%= link_to 'Enroll for Ugx. 20,000/month', new_child_path, class: "btn bg-green-btn text-white shadow px-5 py-3 mt-4" %>
        </div>
      </div>
    </div>
  </div> -->
</div>