<%= render "layouts/main-nav" %>
<div class="signup-view">
  <div class="container py-5 dash-view mt-4">
    <div class="row" id="dash">
      <div class="col-md-4 pr-5">
        <div class="mb-5">
          <div class="profile-pic text-center">
            <% if @child.image.attached? %>
              <%= image_tag @child.image, style: "width: 200px; display: block; margin: 0 auto", class: "rounded-circle shadow" %>
            <% end %>
          </div>
          <p class="mt-5 text-center">
            <%= @child.name %>
          </p>
        </div>
      </div>
      <div class="col-md-6 mx-auto">
        <%= render 'layouts/notice' %>
        
        <h2 class="font-weight-bold text-label mb-5">Complete child's profile</h2>
        <%= render 'profileForm', child: @child %>
        
        <div class="text-center my-3">
          <%= link_to "Back to Profile", @child %>
        </div>
      </div>
    </div>
  </div>
</div>