<%= render "layouts/main-nav" %>

<div class="container py-5 dash-view">
  <%= render 'layouts/notice' %>
  
  <h1 class="font-weight-bold text-label mb-3">Children in your area</h1>
  <p class="mb-5">See signed up children in your area.</p>

  <div class="row">
    <div class="col-md-12">
      <table class="child-table">
        <tbody>
          <% @children.each do |child| %>
            <tr>
              <td>
                <%= image_tag child.image, style: "width: 60px; display: block; margin: 0 auto", class: "rounded-circle" %> 
              </td>
              <td class="text-info"><%= child.name %></td>
              <td>
                <small class="text-label font-weight-bold">Class:</small><br>
                <%= child.grade %>
              </td>
              <td class="text-right">
                <%= link_to 'View Profile', child, class: "btn btn-info" %>
                <% if current_admin %>
                  <%= link_to 'Edit', edit_child_path(child), class: "btn btn-primary ml-2" %>
                  <%= link_to 'Delete', child, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger ml-2' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>