<%= render "layouts/main-nav" %>

<div class="container py-5 dash-view">
  <p id="notice"><%= notice %></p>
  <h1 class="font-weight-bold text-label mb-3">Students in your area</h1>
  <p class="mb-5">Request to tutor a child in your area</p>

  <table class="child-table">
    <tbody>
      <% @children.each do |child| %>
        <tr>
          <td><%= child.name %></td>
          <td>
            <small class="text-label font-weight-bold">Class:</small><br>
            <%= child.grade %>
          </td>
          <td>
            <small class="text-label font-weight-bold">Group Allocated:</small><br>
            <%= child.group.name %>
          </td>
          <td><%= link_to 'View Profile', child, class: "btn bg-white border border-info text-info" %></td>
          
          <% if current_admin %>
          <td><%= link_to 'Edit', edit_child_path(child), class: "btn bg-white border border-primary text-primary" %></td>
          <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-white border border-danger text-danger' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>