<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @child.phone %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @child.grade %>
</p>

<p>
  <strong>Guardian:</strong>
  <%= @child.guardian %>
</p>

<p>
  <strong>Address:</strong>
  <%= @child.address %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @child.password_digest %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
