<%= render 'layouts/main-nav' %>
<div class="container mt-5" style="min-height: 550px">
  <%= render 'layouts/notice2' %>
  <div class="row">
    <div class="col-lg-4 col-md-6 mx-auto">
      <div>
        <h3 class="text-label font-weight-bold mt-5">
          Let your child join Homeschool today.
        </h3>
        <p class="text-muted mt-4">
          You should have a child account to join a Study Group.
        </p>
      </div>
      <div>
        <h3 class="text-green font-weight-bold mt-5">
          Our job is to empower Great teachers.
        </h3>
        <p class="text-muted mt-4">
          You should have a teaher account to create a Study Group.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mx-auto">
      <p class="text-center text-info my-4"><%= resource_name.capitalize %> Registration</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field mb-3">
          <%= f.text_field :full_name, autocomplete: "full_name", class: "form-control input_height", placeholder: "Full Name" %>
        </div>

        <div class="field mb-3">
          <%= f.email_field :email, autocomplete: "email", class: "form-control input_height", placeholder: "Email address" %>
        </div>

        <div class="field mb-3">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control input_height", placeholder: "Password" %>
        </div>

        <div class="field mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control input_height", placeholder: "Confirm password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn w-100 bg-info py-3 rounded-pill text-white mb-4 shadow" %>
        </div>
      <% end %>

      <small><%= render "devise/shared/links" %></small>
    </div>
  </div>
</div>
