<%= render "layouts/main-nav" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 bg-light border-top border-right pb-5">
      <ul class="mt-3" style="list-style: none; padding: 1em; line-height: 3.2em;">
        <li><%= link_to '<i class="fas fa-bell mr-2 bg-info text-white p-1 rounded"></i>Messages'.html_safe, contacts_path %></li>
        <li><%= link_to '<i class="fas fa-star mr-2 bg-info text-white p-1 rounded"></i>Children'.html_safe, children_path %></li>
        <li><%= link_to '<i class="far fa-square mr-2 bg-info text-white p-1 rounded"></i>Teachers'.html_safe, teachers_path %></li>
        <li><%= link_to '<i class="fas fa-circle-notch mr-2 bg-info text-white p-1 rounded"></i>Groups'.html_safe, groups_path %></li>
        <li><%= link_to '<i class="fas fa-shapes mr-2 bg-info text-white p-1 rounded"></i>Addresses (C)'.html_safe, addresses_path %></li>
        <li><%= link_to '<i class="fas fa-moon mr-2 bg-info text-white p-1 rounded"></i>Addresses (T)'.html_safe, directions_path %></li>
        <li><%= link_to "Create a group", new_group_path, class: "btn bg-green-btn text-white px-3 py-2 shadow mt-5" %></li>
      </ul>
    </div>
    <div class="col-md-10 py-5 px-5" style="">
      <%= render 'layouts/notice' %>
      <!-- <form class="">
        <input type="text" class="form-control mb-4" placeholder="Search" style="border-radius: 3.3em; height: 3.5em; padding: 0 0 0 2em; background: aliceblue; border: 0;">
      </form> -->
      <p class="font-weight-bold text-label">Overview</p>
      <div class="row mb-5">
        <div class="col-md-3">
          <div class="bg-white px-3 pt-3 d-flex" style="border: 3px solid #f0f8ff; border-radius: 6px;">
            <p style="font-size: 2.3em" class="pt-3 text-muted">
              <%= @teacher_count %>
            </p>
            <p class="text-muted">
              <small class="text-uppercase text-info">Teacher(s)</small>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="bg-white px-3 pt-3 d-flex" style="border: 3px solid #f0f8ff; border-radius: 6px;">
            <p style="font-size: 2.3em" class="pt-3 text-muted">
              <%= @child_count %>
            </p>
            <p class="text-muted">
              <small class="text-uppercase text-info">Child(ren)</small>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="bg-white px-3 pt-3 d-flex" style="border: 3px solid #f0f8ff; border-radius: 6px;">
            <p style="font-size: 2.3em" class="pt-3 text-muted">
              <%= @group_count %>
            </p>
            <p class="text-muted">
              <small class="text-uppercase text-info">Group(s)</small>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="bg-white px-3 pt-3 d-flex" style="border: 3px solid #f0f8ff; border-radius: 6px;">
            <p style="font-size: 2.3em" class="pt-3 text-muted">
              <%= @ugrouped_child_count %>
            </p>
            <p class="text-muted">
              <small class="text-uppercase text-info">Ungrouped<br>Child(ren)</small>
            </p>
          </div>
        </div>
        <!-- <div class="col-md-2">
          <div class="bg-white px-3 pt-3 d-flex" style="border: 3px solid #f0f8ff; border-radius: 6px;">
            <p style="font-size: 2.3em" class="pt-3 text-muted">
              <%= @ugrouped_teacher_count %>
            </p>
            <p class="text-muted">
              <small class="text-uppercase text-info">Ungrouped<br>Teacher(s)</small>
            </p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="bg-white px-3 pt-3 d-flex" style="border: 3px solid #f0f8ff; border-radius: 6px;">
            <p style="font-size: 2.3em" class="pt-3 text-muted">
              <%= @user_count %>
            </p>
            <p class="text-muted">
              <small class="text-uppercase text-info">Account(s)</small>
            </p>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="p-3" style="border: 3px solid #f0f8ff; border-radius: 6px;">
            <p class="font-weight-bold text-label pt-2">New Teachers</p>
            <table class="w-100">
              <thead class="" style="background: #f0f8ff;">
                <th class="text-label font-weight-normal py-2 pl-4">Name</th>
                <th class="text-label font-weight-normal">Class</th>
                <th class="text-label font-weight-normal pr-4">Date</th>
              </thead>
              <tbody>
                <% @teachers.each do |teacher| %>
                  <tr>
                    <td class="py-3"><%= link_to teacher.name, teacher, class: 'text-info pl-4' %></td>
                    <td class="text-muted">
                      <%= teacher.grade %>
                    </td>
                    <td class="text-muted">
                      <%= teacher.created_at.strftime("%F") %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-3" style="border: 3px solid #f0f8ff; border-radius: 6px;">
            <p class="font-weight-bold text-label pt-2">New Children</p>
            <table class="w-100">
              <thead class="" style="background: #f0f8ff;">
                <th class="text-label font-weight-normal py-2 pl-4">Name</th>
                <th class="text-label font-weight-normal">Class</th>
                <th class="text-label font-weight-normal pr-4">Date</th>
              </thead>
              <tbody>
                <% @children.each do |child| %>
                  <tr>
                    <td class="py-3"><%= link_to child.name, child, class: 'text-info pl-4' %></td>
                    <td class="text-muted">
                      <%= child.grade %>
                    </td>
                    <td class="text-muted">
                      <%= child.created_at.strftime("%F") %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>