<%= render 'layouts/main-nav' %>

<div class="container py-5 mb-5 mt-5">
  <span class="text-center d-block mb-4 ">
    <%= link_to 'Back to mailbox', conversations_path, class: 'text-muted' %>
  </span>
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <h3 class="text-center mb-3 text-green">
        Conversation
      </h3>
      <%= form_for @message_form, url: :messages do |form| %>
        <%= form.text_area :body, class: 'form-control mb-3' %>
        <%= fill_message_form(form, current_account, @conversation) %>
        <%= form.submit 'Send message', class: 'btn form-control btn-info mb-5' %>
      <% end %>

      <% @messages.each do |msg| %>
        <div class="bg-light px-4 py-2 rounded mb-3 border-bottom d-flex align-content-center">
          <div style="font-size: 3em">🧒</div>
          <div class="ml-3">
            <small class="text-green">
              <%= interlocutor_info(msg.author, :name) %>
            </small>
            <div class="text-muted">
              <%= msg.body %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>