<%= render "layouts/main-nav" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 bg-white border-top">
      <p class="pt-5 px-3">
        Welcome <%= current_admin.name %>
      </p>
      <ul style="list-style: none; padding: 1em; line-height: 3em;">
        <li><%= link_to "Children", children_path, class: "" %></li>
        <li><%= link_to "Teachers", teachers_path %></li>
        <li><%= link_to "Groups", groups_path %></li>
        <li><%= link_to "Create a new group", new_group_path %></li>
      </ul>
    </div>
    <div class="col-md-10 py-5 px-5" style="background-color: #f1f4ff;">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <div class="row">
        <div class="col-md-3">
          <div class="bg-white px-3 pt-3 rounded shadow d-flex">
            <p style="font-size: 3em" class="pt-3">
              <%= @teacher_count %>
            </p>
            <p class="text-muted pl-3">
              <small class="text-uppercase">Registered<br>Teacher(s)</small>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="bg-white px-3 pt-3 rounded shadow d-flex">
            <p style="font-size: 3em" class="pt-3">
              <%= @child_count %>
            </p>
            <p class="text-muted pl-3">
              <small class="text-uppercase">Registered<br>Child(ren)</small>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="bg-white px-3 pt-3 rounded shadow d-flex">
            <p style="font-size: 3em" class="pt-3">
              <%= @group_count %>
            </p>
            <p class="text-muted pl-3">
              <small class="text-uppercase">Created<br>Group(s)</small>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="bg-white px-3 pt-3 rounded shadow d-flex">
            <p style="font-size: 3em" class="pt-3">
              <%= @ugrouped_child_count %>
            </p>
            <p class="text-muted pl-3">
              <small class="text-uppercase">Ungrouped<br>Child(ren)</small>
            </p>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="bg-white px-3 pt-3 rounded shadow d-flex">
            <p style="font-size: 3em" class="pt-3">
              <%= @ugrouped_teacher_count %>
            </p>
            <p class="text-muted pl-3">
              <small class="text-uppercase">Ungrouped<br>Teacher(s)</small>
            </p>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="bg-white px-3 pt-3 rounded shadow d-flex">
            <p style="font-size: 3em" class="pt-3">
              <%= @user_count %>
            </p>
            <p class="text-muted pl-3">
              <small class="text-uppercase">Total<br>Account(s)</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>