<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Study Group Name" %>
    <%= form.text_field :name, class: "mb-3" %>
  </div>

  <div class="field">
    <%= form.label :grade, "Group Class" %>
    <%= form.select :grade,  ['Pre-school', 'P.1', 'P.2', 'P.3', 'P.4', 'P.5', 'P.6', 'P.7'], {}, { class: "custom-select mb-3" } %>
  </div>

  <!-- <div class="field">
    <%= form.label :program, "Study Program" %>
    <%= form.select :program,  ['Full-time Program', 'Extra Classes Program'], {}, { class: "custom-select mb-3" } %>
  </div> -->

  <div class="field">
    <%= form.label :place, "Location" %>
    <%= form.text_field :place, class: "mb-3" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
