<%= render 'layouts/main-nav' %>

<div class="container py-5">
  <div class="row my-5">
    <div class="col-lg-10 mx-auto">
      <p><%= link_to '<i class="fas mr-3 fa-arrow-left"></i>Back to groups'.html_safe, groups_path, class: "text-muted" %></p>
      <div class="bg-light rounded mb-5 py-5 mt-4 text-center border-bottom">
        <p class="text-muted mb-3 fs-5"><i class="fas fa-lg fa-users"></i></p>
        <h3 class="text-muted"><%= @group.name %></h3>
        <small class="text-info">near</small>
        <span class="text-muted py-3 d-block"><%= @group.teacher.direction.landmark %></span>
      </div>

      <div class="row mb-5">
        <div class="col-lg-4">
          <div class="border rounded text-center">
            <span class="text-muted d-block py-3 bg-light"><i class="fas mr-2 fa-graduation-cap"></i>Grade</span>
            <span class="text-muted border-top py-3 d-block"><%= @group.grade %></span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="border rounded text-center">
            <span class="text-muted d-block py-3 bg-light"><i class="fas mr-2 fa-book"></i>Subject</span>
            <span class="text-muted border-top py-3 d-block"><%= @group.subject %></span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="border rounded text-center">
            <span class="text-muted d-block py-3 bg-light"><i class="fas mr-2 fa-chalkboard-teacher"></i>Teacher</span>
            <span class="text-muted border-top py-3 d-block"><%= @group.teacher.full_name %></span>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
