<%= render "layouts/main-nav" %>

<div class="container py-5 dash-view">
  <div class="row">
    <%= render 'layouts/notice' %>

    <div class="col-md-12">
      <h2 class="text-heading mb-4 pb-3 border-bottom font-weight-bold text-center">
        <%= @group.name %>
      </h2>
      <div class="pb-3">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <p class="profile-p">
                <strong>Location:</strong>
                <span><%= @group.place %></span>
              </p>
            </div>
            <div class="col-md-6 col-lg-4">
              <p class="profile-p">
                <strong>Class:</strong>
                <span><%= @group.grade %></span>
              </p>
            </div>
            <div class="col-md-12 col-lg-4">
              <p class="profile-p">
                <strong>No. of Children:</strong>
                <span><%= @group_count %> Child(ren)</span>
              </p>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="">
        <p class="orange-link pb-2 font-weight-bold mt-5">Group Members</p>
        <table class="child-table">
          <tbody>
            <% @children.each do |child| %>
              <tr>
                <td><%= child.name %></td>
                <td class="text-right"><%= link_to 'View Profile', child, class: "btn btn-info" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="">
        <p class="orange-link pb-2 font-weight-bold mt-5">Teachers Allocated</p>
        <table class="child-table">
          <tbody>
            <% @teachers.each do |teacher| %>
              <tr>
                <td><%= teacher.name %></td>
                <td class="text-right"><%= link_to 'View Profile', teacher, class: "btn btn-info" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="col-md-12">
      <% if current_admin %>
      <%= link_to 'Edit Group', edit_group_path(@group), class: 'btn btn-info text-center w-100 mt-5 py-3' %>
      <% end %>
      <%= link_to 'View all Groups', groups_path, class: 'btn btn-light text-center w-100 mt-2 py-3' %>
    </div>
  </div>
</div>
