<%= render 'layouts/main-nav' %>
<div class="container mt-5" style="min-height: 550px">
  <div class="row">
    <div class="col-lg-4 mx-auto">
      <h2 class="text-center text-info mt-5 mb-4">Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field mb-4">
          <%= f.email_field :email, autocomplete: "email", class: "form-control input_height", placeholder: "Email address" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset link", class: "btn btn-info button_def form-control mb-4 shadow" %>
        </div>
      <% end %>

      <small><%= render "devise/shared/links" %></small>
    </div>
  </div>
</div>