<%= form_with(model: video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-4">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control py-4", placeholder: "Video title" %>
  </div>

  <div class="field mb-4">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", placeholder: "Video description", style: "height: 150px;" %>
  </div>

  <div class="field mb-4">
    <%= form.label :clip, "Choose Clip" %>
    <%= form.file_field :clip, class: "form-control bg-light" %>
  </div>

  <div class="field mb-4">
    <%= form.label :thumbnail, "Choose Thumbnail" %>
    <%= form.file_field :thumbnail, class: "form-control bg-light" %>
  </div>

  <div class="actions">
    <%= form.submit "Upload", class: "w-100 btn bg-green-btn text-white py-3 px-5 shadow" %>
  </div>
<% end %>
