<%= render "layouts/main-nav" %>

<div class="container py-5 dash-view">
  <%= render 'layouts/notice' %>

  <div class="bg-light p-5">
    <h1>Video Content</h1>
    <%= link_to 'Upload a Video', new_video_path %>
  </div>

  <div class="row mt-5">
    <% @videos.each do |video| %>
      <div class="col-lg-4">
        <div class="bg-light border">
          <%= image_tag (video.thumbnail), style: "width: 100%; height: auto" %>
        </div>
        <div class="my-3"><%= link_to video.title, video %></div>
        <div>
          <%= link_to 'View Video', video, class: "btn btn-info mr-3" %>
          <%= link_to 'Edit', edit_video_path(video), class: "btn btn-warning mr-3" %>
          <%= link_to 'Delete', video, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
