<%= render "layouts/main-nav" %>

<div class="container py-5">
  <h2 class="font-weight-bold mt-4 text-label">All Videos</h2>
  <div class="row my-5">
    <% @videos.each do |video| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <div id="thumbnail-img">
          <%= link_to image_tag(video.thumbnail), video %>
        </div>
        <span class="mt-2 d-block"><%= link_to video.title, video, class: "text-dark" %></span>
        <small class="bg-blue px-2 rounded"><%= video.subject %></small>
        <small class="bg-yellow px-2 rounded"><%= video.grade %></small>
        <small class="text-muted">&middot; <%= local_time_ago(video.created_at) %></small>
      </div>
    <% end %>
  </div>
</div>