<%= render 'layouts/main-nav' %>

<div class="">
  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/notice2' %>
      <div class="col-md-4 col-lg-6 intro-img">
      </div>
      <div class="col-md-8 col-lg-6 intro">
        <h1 class="text-heading pr-1">
          We match 
          <span class="orange-link" style="text-decoration: underline">Learners</span> with 
          <span class="text-info" style="text-decoration: underline">Teachers</span> in the Neighbourhood
        </h1>
        <div class="lft-it">
          <%= link_to 'Register your Child', new_child_path, class: "btn bg-green-btn text-white shadow px-5 py-3" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="container pt-5 mb-5">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="pb-3 mt-5 mb-4 font-weight-bold text-label">About Us</h1>
        <div class="text-muted pr-4">
          We are a Not-for-Profit team that is aiming for quality education across the country. 
          Our platform finds tutors for the community children to study in small localised groups at 
          subsidised fees that have been agreed upon by the teachers and the parents of the grouped children.
          <br><br>
          Ever since the COVID-19 education lockdown, our children have been seated home and 
          are wearing away academically, and with the recently increased school lockdown for lower primary, 
          we believe home schooling is a viable option to keep the children occupied academically.
          <br><br>
          Our job is to create study-groups and add children or students according to their proximity and then 
          match them with a willing and qualified teacher.
        </div>
      </div>
      <div class="col-lg-6 ml-auto pt-5">
        <%= image_tag("about.jpg", :alt => "", class: "img-fluid shadow", style: "border-radius: 1.6em 0 0 0; margin-top: 4em") %>
      </div>
    </div>
  </div>
</div>

<div class="how">
    <div class="container pt-5">
        <h1 class="pb-3 mt-5 mb-5 text-center font-weight-bold text-label">How it works</h1>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="how-to how-to-1">
                  <h1>🧒</h1>
                  <h4>Register Child</h4>
                  <p>As a parent, register your child with us <a href="https://homeschool.ug/children/new" class="text-white border-bottom">here</a></p>
                </div>  
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="how-to how-to-2">
                  <h1>🧑🏽‍🤝‍🧑🏽</h1>
                  <h4>Form a Group</h4>
                  <p>
                    A Study Group is formed by our system when children 
                    in the same area are registered.
                  </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="how-to how-to-3">
                    <h1>👩🏽‍🏫</h1>
                    <h4>Find Teachers</h4>
                    <p>
                      A group is allocated a teacher in the same area to teach and guide it.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="how-to how-to-4">
                    <h1>📖</h1>
                    <h4>Happy Learning</h4>
                    <p>
                      We check on the progress of each study group occasionally.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="secondary-intro">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-7 col-lg-5 mr-auto">
        <p class="font-weight-bold">
          Home school is giving hope to the children at home.
          Classes of 5-8 students are grouped in a study group
          with a qualified teacher they adore 💕
        </p>
        <div class="d-flex justify-content-between mt-5">
          <div class="profile">
            <%= image_tag("boy.jpg", :alt => "") %>
          </div>
          <span class="w-75 text-muted">
            Learning is fun because my neighbors are my playmates. 
            I am always excited!<br>
            -- Kalule Simon.
          </span>
        </div>
        <div class="d-flex justify-content-between mt-5">
          <div class="profile">
            <%= image_tag("teacher.jpg", :alt => "") %>
          </div>
          <span class="w-75 text-muted">
            I find great joy in having a small class because I spend more time my students<br>
            -- Beatrice Achen.
          </span>
        </div>
      </div>
      <div class="col-md-5 col-lg-6">
        <div class="" style="height: 650px; overflow: hidden">
          <%= image_tag("boy.jpg", :alt => "", class: "img-fluid shadow", style: "border-radius: 1.6em") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="recommend-teachers">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-6">
        <div class="">
          <%= image_tag("teacher.jpg", :alt => "", class: "img-fluid shadow", style: "border-radius: 0 1.6em 0 1.6em") %>
        </div>
      </div>
      <div class="col-md-7 col-lg-6">
        <div class="ml-5">
          <h2 class="text-heading">Our Recommended Teachers</h2>
          <ul>
            <li>🌟 Have a minimum of 3 years of experience.</li>
            <li>🌟 Are Registered Teachers</li>
            <li>🌟 Amazing Recommendations</li>
            <li>🌟 Focus on Student-Teacher relationships.</li>
          </ul>
          <%= link_to 'Become a Teacher', new_teacher_path, class: "btn bg-green-btn text-white shadow px-5 py-3 mt-5" %>
        </div>
      </div>           
    </div>
  </div>
</div>

<div class="covid-alert">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-6 mr-auto">
        <div class="statement-1 bg-info text-white shadow">
          <h2 class="font-weight-bold mb-4">Even with covid19 around, education is still essential.</h2>
          <p class="pl-5">
              This is a solution for parents looking for a quality
              education for their children but also for the abandoned 
              teachers with no work across the country.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="faqs">
  <div class="container pt-5 mt-5">
    <h1 class="text-center font-weight-bold text-label mb-5">FAQS</h1>
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-4">
          <h5 class="text-center bg-green text-white py-3">What is HomeSchool?</h5>
          <p class="text-muted bg-light py-3 px-5">
            HomeSchool brings the best parts of education to your home with 
            willing teachers, small class sizes, and a personalized curriculum.
            Children in the same neighbourhood and classes can study together for 
            3 - 4 hours a day. Your children receive an enriching experience with 
            greater flexibility and more personalized attention than the traditional 
            schools can offer - all in a safe and inspiring home learning environment. 
            HomeSchool does not intend to replace the existing education framework it is 
            only expected to run until schools are fully open to all classes. 
            We just want our children to study, even in COVID!
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-4">
          <h5 class="px-5 bg-green text-white py-3 d-flex justify-content-between" data-toggle="collapse" aria-expanded="false" data-target="#collapseExample" aria-controls="collapseExample" style="cursor: pointer;">
          <span>Why do we need a teacher?</span>
          <i class="fas fa-plus text-green"></i>
          </h5>
          <p class="text-muted bg-light py-3 px-5 collapse" id="collapseExample">
            Think back to the best education experiences you've had, chances are 
            you're thinking of a teacher. Research supports that teachers have the 
            largest impact on student satisfaction and educational outcomes. 
            HomeSchool enables children to be allocated a teacher to guide them.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-4">
          <h5 class="px-5 bg-green text-white py-3 d-flex justify-content-between" data-toggle="collapse" aria-expanded="false" data-target="#collapseExample2" aria-controls="collapseExample2" style="cursor: pointer;">
          <span>Health and Safety</span>
          <i class="fas fa-plus text-green"></i>
          </h5>
          <p class="text-muted bg-light py-3 px-5 collapse" id="collapseExample2">
            Safety is our highest priority, for your family, the children we work with, and the teacher. 
            We ask all teachers to follow all local guidelines as it relates to COVID-19. 
            Beyond that, each study-group creates its own health agreement prior to starting, 
            which we have all families, and teachers sign-off on.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-4">
          <h5 class="px-5 bg-green text-white py-3 d-flex justify-content-between" data-toggle="collapse" aria-expanded="false" data-target="#collapseExample3" aria-controls="collapseExample3" style="cursor: pointer;">
          <span>Who are the teachers?</span>
          <i class="fas fa-plus text-green"></i>
          </h5>
          <p class="text-muted bg-light py-3 px-5 collapse" id="collapseExample3">
            The teachers we register go through a rigorous screen process.
            Our teachers have minimum teaching experience and often have 
            advanced diplomas and degrees with adequate recommendations.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-4">
          <h5 class="px-5 bg-green text-white py-3 d-flex justify-content-between" data-toggle="collapse" aria-expanded="false" data-target="#collapseExample4" aria-controls="collapseExample4" style="cursor: pointer;">
          <span>Where does the learning happen?</span>
          <i class="fas fa-plus text-green"></i>
          </h5>
          <p class="text-muted bg-light py-3 px-5 collapse" id="collapseExample4">
            Learning can happen anywhere as long as there is enough space for the children 
            and the teachers. Lessons can happen in playrooms, backyards, living rooms, 
            and in community spaces.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="convinient-school">
  <div class="container">
    <h1 class="text-green font-weight-bold mb-5 mt-3 text-center" style="font-size: 3em">Benefits.</h1>
    <div class="row mt-5" id="gallery">
      <div class="col-md-6 col-lg-3">
        <div class="bg-red py-5 mb-3" style="border-radius: 1.6em 0">
          <p class="text-white py-5 px-5">
            Classes can be held anywhere - can be at your house, backyard or living room.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="image-container-3">
          <%= image_tag("feat-3.jpg", :alt => "") %>
        </div>
        <p class="text-muted mt-4 pr-4">
          COVID Safety. Each member of the teaching staff should come 
          masked up to ensure the children's safety.
        </p>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="image-container-3">
          <%= image_tag("about2.jpg", :alt => "") %>
        </div>
        <p class="text-muted mt-4 pr-4">
          We encourage small classes to promote social distancing 
          to reduce COVID-19 spread.
        </p>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="image-container-3">
          <%= image_tag("bg.jpg", :alt => "") %>
        </div>
        <p class="text-muted mt-4 pr-4">
          A chance for your child to learn with friends and neighbours 
          in a non exposed environment.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-5">
  <div class="text-center mb-5 p-5 bg-green" style="border-radius: 0 1.6em 0 0">
    <h1 class="mt-4 text-white">Ready to get Started?</h1>
    <%= link_to 'Register at HomeSchool today', new_child_path, class: "btn bg-green-btn text-white shadow px-5 py-3 mt-3 mb-4" %>
  </div>
</div>