<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% teacher.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-12">
      <div class="field mb-3">
        <%= form.text_field :name, placeholder: "Enter Full Name" %>
      </div>
    </div>
    <div class="form-group col-md-12">
      <div class="field mb-3">
        <%= form.text_field :phone, placeholder: "Enter Phone Number" %>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="field">
        <%= form.password_field :password, placeholder: "Password" %>
      </div>
    </div>
    
    <div class="form-group col-md-6">
      <div class="field">
        <%= form.password_field :password_confirmation, placeholder: "Confirm Password" %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Create Teacher Account" %>
  </div>
<% end %>
