<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <% if current_teacher %>
      <!-- <div class="form-group col-md-12">
        <div class="field mb-3">
          <%= form.label :image, "Upload Profile Image", class: "mt-2" %>
          <%= form.file_field :image %>
        </div>
      </div> -->

      <div class="col-md-12">
        <div class="field mb-3">
          <%= form.label :grade, "Class Taught" %>
          <%= form.select :grade, ['Primary One', 'Primary Two', 'Primary Three', 'Primary Four', 'Primary Five', 'Primary Six'], {}, { class: 'custom-select' } %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="field mb-3">
          <%= form.label :subject, "Subject Taught", class: "mt-3" %>
          <%= form.select :subject, ['Science', 'Maths', 'English', 'Reading', 'Social studies'], {}, { class: 'custom-select' } %>
        </div>
      </div>
      
      <div class="col-md-12">
        <div class="field mb-3">
          <%= form.label :phone, "Phone Number", class: "mt-3" %>
          <%= form.text_field :phone %>
        </div>
      </div>
    <% end %>
    
    <% if current_admin %>
    <div class="col-md-12">
      <div class="field mb-3">
        <%= form.label :group_id, "Choose a Group:", class: "mt-3" %>
        <%= form.collection_select(:group_id, Group.all, :id, :name, {}, class: "custom-select") %>
      </div>
    </div>
    <% end %>
    <div class="col-md-12">
      <div class="actions">
        <%= form.submit "Complete Profile" %>
      </div>
    </div>
  </div>
<% end %>
