<%= render "layouts/main-nav" %>
<div class="signup-view">
  <div class="container py-5 dash-view">
    <div class="row" id="dash">
      <div class="col-md-4 pr-5">
        <div class="mb-5">
          <div class="text-center" style="font-size: 6em;">🧒</div>
          <!-- <div class="profile-pic text-center">
            <% if @teacher.image.attached? %>
              <%= image_tag @teacher.image, style: "width: 200px; display: block; margin: 0 auto", class: "rounded-circle shadow" %>
            <% end %>
          </div> -->
          <p class="text-center">
            <%= @teacher.name %>
          </p>
        </div>
      </div>
      <div class="col-md-6 mx-auto">
        <%= render 'layouts/notice' %>
        
        <h2 class="font-weight-bold text-info mb-5">Complete your profile</h2>
        <%= render 'profileForm', teacher: @teacher %>
        <div class="text-center my-3">
          <%= link_to "Back to Profile", @teacher %>
        </div>
      </div>
    </div>
  </div>
</div>