<%= render "layouts/main-nav" %>

<div class="container py-5 dash-view">
  <%= render 'layouts/notice' %>
  
  <h1 class="font-weight-bold text-label mb-3">Teachers in your area.</h1>
  <p class="mb-5 text-muted">Browse our Teachers directory to see registered teachers in your neighboorhood.</p>

  <div class="row">
    <!-- <div class="col-md-12">
      <table class="child-table">
        <tbody>
          <% @teachers.each do |teacher| %>
            <tr>
              <td>
              <%= image_tag(teacher.image, style: "width: 60px; display: block; margin: 0 auto", class: "rounded-circle") if teacher.image.attached? %>
              </td>
              <td class="text-info"><%= teacher.name %></td>
              <td>
                <small class="text-label font-weight-bold">Class Taught:</small><br>
                <%= teacher.grade %>
              </td>
              <td>
                <small class="text-label font-weight-bold">Subject Taught:</small><br>
                <%= teacher.subject %>
              </td>
              <td class="text-right">
                <%= link_to 'View Profile', teacher, class: "btn btn-info" %>
                <% if current_admin %>
                <%= link_to 'Edit', edit_teacher_path(teacher), class: "btn btn-primary ml-2" %>
                <%= link_to 'Delete', teacher, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger ml-2' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> -->

    <% @teachers.each do |teacher| %>
      <div class="col-md-4">
        <div class="border shadow rounded pb-4 mb-4">
          <div class="bg-light mb-3 border-bottom" style="height: 170px;"></div>
          <div class="text-muted text-center font-weight-bold text-label"><%= teacher.name %></div>
          <div class="d-flex flex-wrap justify-content-center bg-light mx-4 my-2">
            <div class="my-2 mr-5">
              <span class="">🎓</span>
              <small><%= teacher.grade %></small>
            </div>
            <div class="my-2">
              <span>📖</span>
              <small><%= teacher.subject %></small>
            </div>
          </div>
          <div class="text-center mt-3">
            <%= link_to 'View Profile', teacher, class: "btn btn-warning" %>
            <% if current_admin %>
              <%= link_to 'Edit', edit_teacher_path(teacher), class: "btn btn-primary ml-2" %>
              <%= link_to 'Delete', teacher, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger ml-2' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
