<%= render "layouts/main-nav" %>

<div class="container py-5 dash-view">
  <%= render 'layouts/notice' %>
  
  <h1 class="font-weight-bold text-label mb-3">Teachers in your area.</h1>
  <p class="mb-5 text-muted">Browse our Teachers directory to see registered teachers in your neighboorhood.</p>

  <div class="row">
    <div class="col-md-10">
      <table class="child-table">
        <tbody>
          <% @teachers.each do |teacher| %>
            <tr>
              <td class="text-info"><%= teacher.name %></td>
              <td>
                <small class="text-label font-weight-bold">Class Taught:</small><br>
                <%= teacher.grade %>
              </td>
              <td>
                <small class="text-label font-weight-bold">Subject Taught:</small><br>
                <%= teacher.subject %>
              </td>
              <td class="text-right">
                <%= link_to 'View Profile', teacher, class: "btn btn-info" %>
                <% if current_child %>
                  <%= link_to 'Request as Tutor', teacher, class: "btn btn-info ml-2" %>
                <% end %>
                <% if current_admin %>
                <%= link_to 'Edit Teacher', edit_teacher_path(teacher), class: "btn btn-primary ml-2" %>
                <%= link_to 'Delete Teacher', teacher, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger ml-2' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
