<%= render "layouts/teacherLoginLinks" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teacher.phone %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @teacher.grade %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @teacher.subject %>
</p>

<p>
  <strong>Group:</strong>
  <%= @teacher.group.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @teacher.address.landmark %>
</p>

<%= link_to 'Update profile please', edit_teacher_path(@teacher) %><br />
<%= link_to 'Back to Teacher Directory', teachers_path %> <br />
<%= link_to 'Request as a Tutor', edit_teacher_path(@teacher) %>
