<%= render 'layouts/main-nav' %>

<div class="">
  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/notice2' %>

      <div class="col-md-4 col-lg-6 teacher-intro-img">
      </div>
      <div class="col-md-8 col-lg-6 intro" id="teacher-intro">
        <h1 class="text-heading pr-3">
          We empower great <span class="text-info">Teachers</span>
        </h1>
        <p class="intro-desc text-muted">Teach small groups of children in a secure and contained environment.</p>
        <div class="lft-it">
          <%= link_to 'Become a Teacher', new_teacher_path, class: "btn bg-red-btn text-white shadow px-5 py-3" %>
          <%= link_to 'Teacher Login<i class="fas fa-arrow-right ml-2 text-info"></i>'.html_safe, new_teacher_session_path, class: "ml-5 text-info", id: "login-btn" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <h1 class="text-center text-label my-5 pt-5 font-weight-bold">Meet Our Teachers</h1>
    <div class="row pb-5">
      <% @teachers.each do |teacher| %>
        <div class="col-md-6">
          <div class="bg-light py-4 px-3 rounded mt-4">
            <div class="row">
              <div class="col-md-4">
                <div class="mt-2">
                  <% if teacher.image.attached? %>
                    <%= image_tag teacher.image, style: "width: 150px; display: block; margin: 0 auto", class: "rounded shadow" %>
                  <% end %>
                </div>
              </div>
              <div class="col-md-8">
                <h5 class="font-weight-bold text-green"><%= teacher.name %></h5>
                <div class="text-muted">
                    <span class="mr-3">🎓 <%= teacher.grade %>,</span><span class="">📖 <%= teacher.subject %></span>
                </div>
                <div class="mt-2">
                    <span class="mr-2"><i class="fas fa-map-marker-alt text-green"></i></span>
                    <small class="text-muted">
                      <%= teacher.direction.landmark %>
                    </small>
                </div>
                <div class="">
                  <%= link_to "Send message", {}, class: "btn bg-white text-green border mt-3" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!--<div class="text-center pb-5">
      <%= link_to 'See more<i class="fas fa-arrow-right ml-4 text-info"></i>'.html_safe, teachers_path, class: "btn bg-green-btn text-info border border-info px-5 py-3 bg-light" %>
    </div>-->
  </div>
</div>