<%= form_with(model: address, local: true, data: { controller: "places", action: "google-maps-callback@window->places#initMap", places_latitude: address.latitude, places_longitude: address.longitude }) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :landmark, 'Nearest Landmark near your home' %>
    <%= form.search_field :landmark, data: { target: "places.field", action: "keydown->places#keydown" } %>
  </div>

  <div class="field">
    <%= form.hidden_field :latitude, data: { target: "places.latitude" } %>
  </div>

  <div class="field">
    <%= form.hidden_field :longitude, data: { target: "places.longitude" }%>
  </div>

  <div id="map" data-target="places.map" style="height: 300px; width: 530px;" class="mt-4 mb-4"></div>

  <div class="actions">
    <%= form.submit "Add Address" %>
  </div>
<% end %>
