<%= render "layouts/main-nav" %>

<div class="register-teachers">
  <div class="container">
    <div class="row" id="dash">
      <div class="col-md-4 pr-5">
        <div class="mb-5">
          <div class="profile-pic text-center">
            <% if current_child.image.attached? %>
              <%= image_tag current_child.image, style: "width: 200px; height: 200px; display: block; margin: 0 auto", class: "rounded-circle shadow" %>
            <% else %>
              <div class="text-center" style="font-size: 6em;">🧒</div>
            <% end %>
          </div>
          
          <p class="mt-5 text-center text-muted">
            <%= current_child.name %>
          </p>
        </div>
      </div>

      <div class="col-md-6 mx-auto">
        <%= render 'layouts/notice' %>
        
        <h1 class="text-heading font-weight-bold">Updating Address</h1>
        <p class="mt-4 alert-success p-3 rounded">
          Adding an Address allows the system to match you with the 
          nearest teachers or group for your children.
        </p>
        <%= render 'form', address: @address %>
      </div>
    </div>
  </div>
</div>
