<%= render "layouts/main-nav" %>

<div class="container py-5 dash-view">
  <%= render 'layouts/notice' %>

  <h1 class="font-weight-bold text-label mb-3">Children Addresses</h1>
  <table class="child-table mt-4">
    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.landmark %></td>
          <td>
            <%= address.child.name %>
          </td>
          <td>
            <%= link_to 'View', address, class: "btn btn-info" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
