<%= render "layouts/main-nav" %>

<div class="container py-5">
  <div class="row">
    <div class="col-md-5">
      <h2 class="font-weight-bold text-label my-5">
        <%= @address.landmark %>
      </h2>
      
      <div class="row">
          <div class="col-md-6">
            <p class="text-muted">
              <span class="font-weight-bold text-label">Longitude:</span><br>
              <%= @address.longitude %>
            </p>
          </div>
          <div class="col-md-6">
            <p class="text-muted">
              <span class="font-weight-bold text-label">Latitude:</span><br>
              <%= @address.latitude %>
            </p>
          </div>
          <div class="col-md-6 mt-3">
            <p class="text-muted">
              <span class="font-weight-bold text-label">Belongs to:</span><br>
              <%= @address.child.name %>
            </p>
          </div>
          <div class="col-md-6 my-3">
            <p class="text-muted">
              <span class="font-weight-bold text-label">Account:</span><br>
              Child
            </p>
          </div>
      </div>
      <%= link_to 'All Addresses', addresses_path, class: 'btn btn-light w-100 border py-3'%>
    </div>
    <div class="col-md-7">
      <%= render "layouts/notice" %>
      
      <div class="bg-info p-5 rounded text-white ml-5 mt-5">
        <h3 class="mb-4 font-weight-bold text-label">Comparing Distances</h3>

        <table class="child-table mt-4">
          <tbody>
            <% @distances.each do |distance| %>
              <tr>
                <td class="">
                  <%= distance %> Meters
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <p class="mt-3"><%= @destination %></p>
      </div>
    </div>
  </div>
</div>
