<div class="signup-view">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mx-auto">

        <div class="my-form mb-5">
          <div class="text-center mt-5">
            <a class="navbar-brand logo text-info mb-5" href="/">
              🏠 
              <span class="color-1">H</span><span class="color-2">o</span><span class="color-3">m</span><span class="color-4">e</span><span class="color-5">S</span><span class="color-2">c</span><span class="color-3">h</span><span class="color-1">o</span><span class="color-2">o</span><span class="color-5">l</span>
            </a>
          </div>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: "alert alert-danger text-center" %>
          <% end %>
        
          <h2 class="text-center mb-5">
            Reset Password
          </h2>

          <%= form_for @teacher, :url => teacher_password_reset_path(params[:id]) do |f| %>
            <% if @teacher.errors.any? %>
              <div class='error_messages'>
                <p>Passwords do not match</p>
                <ul>
                  <% for message in @teacher.errors.full_messages %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          
            <div class='field mb-3'>
              <%= f.password_field :password, placeholder: "New Password" %>
            </div>

            <div class='field mb-3'>
              <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
            </div>

            <div class='actions'>
              <%= f.submit 'Update password' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
