<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-4">
    <div class="row">
      <div class="col-lg-4">
        <%= form.label :description, "Requirement details:" %>
        <p class="text-muted" style="line-height: 1;">
          <small>
            Write about your required tutor experience, 
            your expectations from the teacher, budget, time, subjects 
            and task details.
          </small>
        </p>
      </div>
      <div class="col-lg-8">
        <%= form.text_area :description, class: 'form-control', style: 'height: 240px;'%>
      </div>
    </div>
  </div>

  <div class="field mb-4">
    <div class="row">
      <div class="col-lg-4">
        <%= form.label :subject, "Subject:" %>
        <p class="text-muted" style="line-height: 1;">
          <small>
            Add a subjects required of the teacher.
          </small>
        </p>
      </div>
      <div class="col-lg-8">
        <%= form.select :subject,  ['Maths', 'Science', 'Social studies', 'English', 'Reading'], {}, { class: "custom-select mt-3" } %>
      </div>
    </div>
  </div>

  <div class="field mb-4">
    <div class="row">
      <div class="col-lg-4">
        <%= form.label :grade, "Class:" %>
        <p class="text-muted" style="line-height: 1;">
          <small>
            Select grade the teacher is expected to teach.
          </small>
        </p>
      </div>
      <div class="col-lg-8">
        <%= form.select :grade,  ['Pre-school', 'P.1', 'P.2', 'P.3', 'P.4', 'P.5', 'P.6', 'P.7'], {}, { class: "custom-select mt-3" } %>
      </div>
    </div>
  </div>

  <div class="field mb-4">
    <div class="row">
      <div class="col-lg-4">
        <%= form.label :meeting, "Meeting options:" %>
        <p class="text-muted" style="line-height: 1;">
          <small>
            Where do you want to meet for the tutor sessions?
          </small>
        </p>
      </div>
      <div class="col-lg-8">
        <%= form.select :meeting,  ['Online Sessions', 'My place', 'Teachers place'], {}, { class: "custom-select mt-3" } %>
      </div>
    </div>
  </div>

  <div class="field mb-4">
    <div class="row">
      <div class="col-lg-4">
        <%= form.label :budget, "Budget:" %>
        <p class="text-muted" style="line-height: 1;">
          <small>
            How much you are willing to pay.
          </small>
        </p>
      </div>
      <div class="col-lg-8">
        <%= form.text_field :budget, class: "form-control mt-3" %>
      </div>
    </div>
  </div>

  <div class="field mb-4">
    <div class="row">
      <div class="col-lg-4">
        <%= form.label :gender, "Gender Preference:" %>
        <p class="text-muted" style="line-height: 1;">
          <small>
            Select your preferred teacher gender.
          </small>
        </p>
      </div>
      <div class="col-lg-8">
        <%= form.select :gender,  ['Female', 'Male', 'Both Female and Male'], {}, { class: "custom-select mt-3" } %>
      </div>
    </div>
  </div>

  <div class="field mb-4">
    <div class="row">
      <div class="col-lg-4">
        <%= form.label :tutors_number, "Teachers wanted:" %>
        <p class="text-muted" style="line-height: 1;">
          <small>
            How many teachers do you want?
          </small>
        </p>
      </div>
      <div class="col-lg-8">
        <%= form.text_field :tutors_number, class: "form-control mt-3" %>
      </div>
    </div>
  </div>

  <div class="field mb-4">
    <div class="row">
      <div class="col-lg-4">
        <%= form.label :commitment, "Teacher's commitment:" %>
        <p class="text-muted" style="line-height: 1;">
          <small>
            Choose teacher's commitment'
          </small>
        </p>
      </div>
      <div class="col-lg-8">
        <%= form.select :commitment,  ['Part-time', 'Full-time'], {}, { class: "custom-select mt-3" } %>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="row">
      <div class="col-lg-8 ml-auto">
        <%= form.submit "Post Requirement", class: "shadow" %>
      </div>
    </div>
  </div>
<% end %>
