<%= render "layouts/main-nav" %>

<div class="container py-5 dash-view">
  <%= render 'layouts/notice' %>

  <div class="d-flex justify-content-between align-content-center border-bottom mb-4">
    <h1 class="font-weight-bold text-label mb-5 mt-4">Tutor Requests.</h1>
    <div>
      <%= link_to 'Post a Request', new_post_path, class: "btn bg-green-btn text-white py-3 px-5 shadow"%>
    </div>
  </div>

  <% @posts.each do |post| %>
    <div class="p-3 border-bottom d-flex justify-content-between align-content-center text-muted">
      <div>
        <p class="mt-2"><%= post.description %></p>
        <div class="d-flex">
          <p class="mr-4">
            <small class="text-label">Posted on:</small>
            <small><%= post.created_at.to_formatted_s(:short) %></small>
          </p>
          <p class="">
            <small class="text-label">Posted by:</small>
            <small></small>
          </p>
        </div>
      </div>
      <div>
        <%= link_to 'Details', post, class: "btn bg-green-btn px-4 text-white py-2 shadow" %>
      </div>
    </div>
  <% end %>
</div>
