<div class="signup-view">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <%= render 'layouts/notice' %>
        
        <div class="my-form">
          <div class="text-center mt-5">
            <a class="navbar-brand logo text-info mb-5" href="/">
              🏠 
              <span class="color-1">H</span><span class="color-2">o</span><span class="color-3">m</span><span class="color-4">e</span><span class="color-5">S</span><span class="color-2">c</span><span class="color-3">h</span><span class="color-1">o</span><span class="color-2">o</span><span class="color-5">l</span>
            </a>
          </div>
          <p class="text-center text-muted mb-4"><small>CHILD LOGIN</small></p>
          <%= form_tag child_sessions_path do %>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="field mb-3">
                  <%= text_field_tag :phone, params[:phone], placeholder: "Phone Number" %>
                </div>
              </div>
              <div class="form-group col-md-12">
                <div class="field">
                  <%= password_field_tag :password, params[:password], placeholder: "Password" %>
                </div>
              </div>
              <div class="form-group col-md-12">
                <div class="actions">
                  <%= submit_tag "Log In" %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="text-center mb-3">
            <%= link_to "Register your Child", new_child_path, class: "text-info" %>
          </div>
          <small class="d-flex justify-content-between mt-5 flex-wrap">
            <p class="text-info"><i class="far fa-check-circle mr-2"></i>Community-based</p>
            <p class="text-info"><i class="far fa-check-circle mr-2"></i>Convinient</p>
            <p class="text-info"><i class="far fa-check-circle mr-2"></i>Affordable</p>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
