<% if current_admin %>
  <h3><%= link_to "HomeSchool", root_path %></h3>
  Logged in as <%= current_admin.email %>.
  <%= link_to "Log Out", admin_session_path("current"), method: "delete" %>
<% else %>
  <h3><%= link_to "HomeSchool", root_path %></h3>
  <%= link_to "Log In", new_admin_session_path %>
<% end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>