<h3><%= link_to "HomeSchool", root_path %></h3>

<div>
  <%= link_to "For Teachers", teachershome_path %> / 
  <%= link_to "For Parents", childrenhome_path %> / 
  <%= link_to "For Administrators", new_admin_session_path %><br />
</div>

<div>
  <%= link_to "Our Teachers", teachers_path %> /  
  <%= link_to "Our Students", children_path %> / <br />
</div>