<header class="pt-1 pb-1 shadow">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand logo text-info" href="/">
        🏠 
        <span class="color-1">H</span><span class="color-2">o</span><span class="color-3">m</span><span class="color-4">e</span><span class="color-5">S</span><span class="color-2">c</span><span class="color-3">h</span><span class="color-1">o</span><span class="color-2">o</span><span class="color-5">l</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          
          <% if current_teacher %>
              <li>
                <a href="#" class="nav-link login-link">
                  <%= current_teacher.name %>(Teacher).
                </a>
              </li>
              <li>
                <%= link_to "My Profile", teacher_path(current_teacher.id), class: "nav-link login-link" %>
              </li>
              <li>
                <%= link_to "My Group", teacher_group_path, class: "nav-link login-link" %>
              </li>
              <li>
                <%= link_to "My Address", teacher_address_path, class: "nav-link login-link" %>
              </li>
              <li>
                <%= link_to "Sign Out", teacher_session_path("current"), method: "delete", class: "nav-link login-link" %>
              </li>
          <% elsif current_child %>
            <li class="">
              <a href="#" class="nav-link login-link">
                <%= current_child.name %>(Child)
              </a>
            </li>
            <li>
              <%= link_to "Profile", child_path(current_child.id), class: "nav-link login-link" %>
            </li>
            <li>
              <%= link_to "My Group", my_group_path, class: "nav-link login-link" %>
            </li>
            <li>
              <%= link_to "My Address", my_address_path, class: "nav-link login-link" %>
            </li>
            <li class="">
              <%= link_to "Logout", child_session_path("current"), method: "delete", class: "nav-link login-link" %>
            </li>
          <% elsif current_admin %>
            <li>
              <a href="#" class="nav-link login-link">
                <%= current_admin.email %>(Admin Account)
              </a>
            </li>
            <li>
              <%= link_to "Dashboard", admins_path, class: "nav-link login-link" %>
            </li>
            <li>
              <%= link_to "Log Out", admin_session_path("current"), method: "delete", class: "nav-link login-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Teachers", teachershome_path, class: "nav-link login-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Parents / Children", childrenhome_path, class: "nav-link register-link" %>
            </li>
            <li class="nav-item">
              <a href="https://raw.githack.com/Cathella/Ugastudy/development/index.html" class="nav-link login-link">
                UgaStudy 
                <span class="badge badge-warning">
                  <i class="far fa-star"></i>
                  New
                </span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>