<header class="pt-1 pb-1 shadow">
  <div class="container">
    <div class="overlay" id="myNav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        &times;
      </a>
      <div class="overlay-content">
        <% if current_teacher %>
          <%= link_to "My Group", teacher_group_path %>
          <%= link_to "My Address", teacher_address_path %>
          <%= link_to "Find a tutor job", posts_path %>
          <%= link_to "Mailbox", conversations_path %>
          <%= link_to "Logout", teacher_session_path("current"), method: "delete" %>
        <% elsif current_child %>
          <%= link_to "My Group", my_group_path %>
          <%= link_to "My Address", my_address_path %>
          <%= link_to "Post a tutor job", profiles_path %>
          <%= link_to "Mailbox", conversations_path %>
          <%= link_to "Logout", child_session_path("current"), method: "delete" %>
        <% elsif current_admin %>
          <%= link_to "Dashboard", admins_path %>
          <%= link_to "Logout", admin_session_path("current"), method: "delete" %>
        <% else %>
          <%= link_to "Home", root_path %>
          <!-- <%= link_to "For Teachers", teachershome_path %>
          <%= link_to "For Parents / Students", childrenhome_path %> -->
          <%= link_to "Hire a tutor", profiles_path %>
          <%= link_to "Post a tutor job", posts_path %>
          <%= link_to "Sign up / Login", accounts_path %>
        <% end %>
      </div>
    </div>

    <a class="navbar-brand logo text-info" href="/">
      🏠 
      <span class="color-1">H</span><span class="color-2">o</span><span class="color-3">m</span><span class="color-4">e</span><span class="color-5">S</span><span class="color-2">c</span><span class="color-3">h</span><span class="color-1">o</span><span class="color-2">o</span><span class="color-5">l</span>
    </a>
    <% if current_account %>
      <small class="text-muted">Hello, <%= current_account.name %></small>
    <% end %>
    <span style="cursor:pointer; margin-top: 13px;" class="float-right" onclick="openNav()">
      <div class="rounded" style="background: #095578; width: 43px; height: 4px; margin: 0 0 7px 0;"></div>
      <div class="rounded" style="background: #095578; width: 43px; height: 4px; margin: 0 0 7px 0;"></div>
      <div class="rounded" style="background: #095578; width: 43px; height: 4px; margin: 0 0 7px 0;"></div>
    </span>
  </div>
</header>