<header class="pt-1 pb-1 shadow">
  <nav class="container d-flex align-items-center justify-content-between">
    <a class="navbar-brand logo text-info" href="/">
      🏠 
      <span class="color-1">H</span><span class="color-2">o</span><span class="color-3">m</span><span class="color-4">e</span><span class="color-5">S</span><span class="color-2">c</span><span class="color-3">h</span><span class="color-1">o</span><span class="color-2">o</span><span class="color-5">l</span>
    </a>

    <div style="font-size: 17px;" class="d-flex">
      <% if current_teacher %>
          <%= link_to "Dashboard", dashboard_path, class: "mr-5 text-muted" %>
          <%= button_to "Logout", destroy_teacher_session_path, method: :delete, class: "text-muted bg-white border-0 p-0" %>
      <% elsif current_child %>
          <%= link_to "Dashboard", dashboard_path, class: "mr-5 text-muted" %>
          <%= button_to "Logout", destroy_child_session_path, method: :delete, class: "text-muted bg-white border-0 p-0" %>
      <% elsif current_admin %>
          <%= link_to "Dashboard" %>
          <%= button_to "Logout", destroy_admin_session_path, method: :delete, class: "text-muted bg-white border-0 p-0" %>
      <% else %>
          <%= link_to "Upscale", {}, class: "text-muted mr-5" %>
          <%= link_to "Sign up | Login", accounts_path, class: "text-muted" %>
      <% end %>
    </div>
  </nav>
</header>