<header>
  <nav class="container navbar border-bottom navbar-expand-lg">
    <a class="navbar-brand" href="/">
      <%= image_tag("logo.svg", :alt => "", class: "", style: "height: 55px") %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" style="font-size: 17px;">
        <% if current_teacher %>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class: "mr-5 text-muted" %>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", destroy_teacher_session_path, method: :delete, class: "text-muted bg-white border-0 p-0" %>
          </li>
        <% elsif current_child %>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class: "mr-5 text-muted" %>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", destroy_child_session_path, method: :delete, class: "text-muted bg-white border-0 p-0" %>
          </li>
        <% elsif current_admin %>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class: "mr-5 text-muted" %>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", destroy_admin_session_path, method: :delete, class: "text-muted bg-white border-0 p-0" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Create Group", new_teacher_registration_path, class: "nav-link text-muted mr-5" %>
          </li>
          <li class="nav-item">
            <%= link_to "Join Group", new_child_registration_path, class: "nav-link btn btn-info px-3" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>